@charset "UTF-8";
 
 *{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    ::-webkit-scrollbar{ /*para apagar a rolagem lateral */
        width: 0px;
        height: 0px;
    }
    img{
        width: 100vw;
    }
    a{
        display: block;/*para a palavra acesse fique em baixo, ao invès do lado*/
        background-color: darkred;
        color: white;
        font-weight: bolder; /*negrito*/
        text-align: center; /*texto alinhado pro centro*/
        padding: 20px; /*espaçamento inteiro*/
        text-decoration: none; /*tirar a marcação do link*/
    }
    a:hover{
        background-color: red;
    }